export FLASK_APP=api
export FLASK_DEBUG=true
export FLASK_RUN_PORT=3000

export NEO4J_URI=neo4j://3.236.182.213:7687
export NEO4J_USERNAME=neo4j
export NEO4J_PASSWORD=plexiglass-box-cheaters
export NEO4J_DATABASE=neo4j

export JWT_SECRET=secret
export SALT_ROUNDS=10